.input{
    width: 50%;
    background-color: rgb(73, 70, 70);
    box-sizing: border-box;
    padding: 0 5px;    
    color: white;
    text-align: end;
}
@media only screen and (max-width: 430px){
    .input{
        width: 90%;
    }
}