.wrapper{
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.app{
  width: 50%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1px;
}
@media only screen and (max-width:430px){
  .wrapper{
    width: 90%;
    height: 90%;
  }
  .app{
    width: 90%;
    height: 70%
  }
}